@import "styles/variables.scss";

.section_35 {
  &_container {
    padding: 60px 0;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 80px;
      margin-bottom: 40px;
      .title {
        color: $greyscale-75;
        font-weight: $font-bold;
        font-size: $text-5xl;
      }
    }

    .see_more {
      &_mobile {
        display: none;
        margin-top: 24px;
      }
    }

    .divider {
      border: 1px solid $greyscale-100;
      margin: 40px 0;
    }

    .list {
      &_see_more {
        &_mobile {
          display: none;
          margin-top: 24px;
        }
      }

      &_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 80px;
        margin-bottom: 32px;

        .category {
          color: $blue-400;
          font-size: $text-md;
          font-weight: $font-bold;
          line-height: $line-height;
        }
      }

      &_body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;

        .item {
          .image {
            border-radius: $border-radius;
            overflow: hidden;

            & > span {
              transition: all 0.25s linear;
            }

            &:hover {
              & > span {
                transform: scale(1.1);
              }
            }
          }

          .category {
            margin-top: 18px;
            margin-bottom: 10px;
            color: $primary-500;
            font-weight: $font-bold;
            font-size: $text-sm;
            line-height: $line-height;
          }

          .title {
            color: $greyscale-75;
            font-weight: $font-semi-bold;
            font-size: $text-md;
            line-height: $line-height;
          }
        }
      }
    }
  }

  @media screen and (max-width: $big-tablet) {
    &_container {
      padding: 50px 0;

      .top {
        .category {
          font-size: $text-3xl;
          margin-bottom: 32px;
        }
      }

      .divider {
        margin: 24px 0;
      }

      .list {
        &_top {
          margin-bottom: 24px;

          .category {
            font-size: $text-base;
          }
        }

        &_body {
          grid-template-columns: repeat(2, 1fr);

          .item {
            .title {
              font-size: $text-base;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: $big_mobile) {
    &_container {
      .see_more {
        display: none;

        &_mobile {
          display: flex;
        }
      }

      .list {
        &_see_more {
          display: none;

          &_mobile {
            display: flex;
          }
        }
      }
    }
  }

  @media screen and (max-width: $mobile) {
    &_container {
      padding: 40px 0;

      .top {
        .title {
          font-size: $text-2xl;
        }
        .category {
          font-size: $text-xl;
        }
      }

      .list {
        &_top {
          .category {
            font-size: $text-sm;
          }
        }

        &_body {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}
