@import "styles/variables.scss";

.container {
  width: 100%;
	display: flex;
	flex-direction: row;	
	align-items: flex-start;
	justify-content: space-between;
	
	.image {
		position: relative;
		width: 21%;
		aspect-ratio: 0.8;
		border-radius: $border-radius;

		&::after {
			content: "";
			background-image: url("../../../public/images/bg-lecturer-profile.svg");
			width: 52px;
			height: 67px;
			position: absolute;
			bottom: -50px;
			z-index: 1;
			right: 0;
			background-repeat: no-repeat;
		}

		img {
			z-index: 2;
		}
	}

	.content {
		width: 74%;
		
		.job {
			font-size: $text-md;
			color: $primary-500;
			margin-bottom: 20px;
			font-weight: $font-semi-bold;	
			line-height: 16px;
		}

		.name {
			font-size: $text-xl;
			line-height: 33.6px;
			letter-spacing: -0.05em;
			font-weight: $font-semi-bold;	
			color: $dark-50;
			margin-bottom: 12px;
		}
		
		.row {
			display: flex;
			align-items: flex-start;
			margin-bottom: 24px;
			margin-top: 16px;
			&.contact {
				align-items: flex-start;
			}

			.label {
				font-size: $text-xs;
				line-height: 18px;
				font-weight: $font-semi-bold;
				color: $secondary-300;
				letter-spacing: 0.02em;
				width: 188px;
				text-transform: uppercase;
			}

			.text {
				line-height: 23px;
				font-size: $text-base;
				color: $greyscale-600;
			}

			.contacts {
				.item {
					display: flex;
					flex-direction: row;
					align-items: center;
					margin-bottom: 15px;

					.text {
						margin-left: 12px;
					}
				}
			}
		}

		.content_details {
			line-height: 26px;
			font-size: $text-md;
			color: $greyscale-600;
			font-family: 'IBM Plex Sans';
			margin-bottom: 24px;
			max-width: 905px;
		}

		.button_download {
			width: fit-content;
			
			label {
				line-height: 27px;;
				font-size: $text-md;
				font-weight: $font-bold;
			}
		}

		.break {
			max-width: 874px;
		}
	}
}

@media screen and (max-width: $big-desktop) {
	.container {
		.image {
			width: 27%;
		}

		.content {
			width: 68%;
		}
	}
}

@media screen and (max-width: $big-tablet) {
	.container {
		align-items: center;
		.image {
			width: 35%;
		}

		.content {
			width: 60%;
			.job {
				font-size: $text-base;
				margin-bottom: 10px;
			}

			.row {
				margin: 16px 0;

				.label {
					width: 150px;
				}

				.text {
					line-height: 20px;
				}
			}

			.content_details {
				line-height: 22px;
				font-size:  $text-base;
			}

			.button_download {
				label {
					font-size: $text-sm;
				}
			}
		}
	}
}

@media screen and (max-width: $big-mobile) {
	.container {
		flex-direction: column;

		.image {
			width: 50%;
			margin-bottom: 35px;
		}

		.content {
			width: 100%;
		}
	}
}

@media screen and (max-width: $mobile) {
	.container {
		.image {
			width: 70%;

			&::after {
				width: 42px;
				height: 55px;
				bottom: -35px;
			}
		}

		.content {
			.row {
				margin: 12px 0px;

				.text {
					font-size: $text-sm;
				}
			}

			.content_details {
				font-size: $text-sm;
			}

			.button_download {				
				label {
					padding: 10px 18px;
					font-size: $text-xs;
				}
			}
		}
	}
}

@media screen and (max-width: $medium-mobile) {
	.container {
		.content {
			.job {
				font-size: $text-sm;
				margin-bottom: 8px;
			}

			.name {
				font-size: $text-md;
				line-height: 26px;
			}
		}
	}
}