@import "styles/variables.scss";

.section_39 {
  position: relative;
  padding: 60px initial;

  &_container {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    z-index: 1;

    .left {
      display: flex;
      flex-direction: column;
      // max-width: 706px;
      width: 30%;

      &_title {
        font-weight: $font-bold;
        font-size: $text-5xl;
      }

      &_content {
        font-size: $text-lg;
        margin-top: 20px;
        line-height: $line-height;
        font-family: $ibm-font, sans-serif;
      }

      &_more {
        margin-top: 20px;
      }
    }

    .right {
      width: 65%;
      // max-width: 535px;
      padding-right: 10px;
      position: relative;
      padding-top: 40%;
    }
  }

  @media screen and (max-width: $tablet) {
    &_container {
      flex-direction: column;
      align-items: center;

      .left {
        width: 100%;

        &_title {
          font-size: $text-3xl;
          letter-spacing: -0.005em;
        }

        &_content {
          font-size: $text-md;
          margin: 16px 0;
          width: 100%;
        }

        &_background {
          margin-top: 24px;
        }
      }

      .right {
        width: 100%;
        padding-top: 60%;

        &_item {
          padding-top: 30px;
          padding-bottom: 30px;

          &_title {
            font-size: $text-lg;
          }

          &_content {
            font-size: $text-base;
            width: 100%;
          }
        }
      }
    }
  }

  @media screen and (max-width: $mobile) {
    &_container {
      flex-direction: column;
      .left {
        width: 100%;
        &_title {
          font-size: $text-2xl;
        }
      }

      .right {
        width: 100%;
        &_item {
          flex-direction: column;
          gap: 20px;
          &_title {
            font-size: $text-md;
          }
        }
      }
    }
  }
}
