@import "styles/variables.scss";

.section_33 {
  background: $secondary-250;

  &_container {
    padding: 64px 0;
    .title {
      color: $greyscale-75;
      font-weight: $font-bold;
      font-size: $text-5xl;
    }

    .content {
      width: 50%;
      margin-top: 16px;
      margin-bottom: 56px;
      color: $greyscale-75;
      font-size: $text-lg;
      line-height: $line-height;
      font-family: $ibm-font, sans-serif;
    }

    .list {
      display: flex;
      gap: 40px;

      .item {
        &_line {
          width: 53px;
          height: 5px;
          background: $primary-500;
        }

        &_title {
          margin-top: 32px;
          margin-bottom: 18px;
          font-size: $text-xl;
          font-weight: $font-bold;
          line-height: $line-height;
          color: $greyscale-75;
        }

        &_content {
          color: $greyscale-75;
          font-size: $text-md;
          line-height: $line-height;
          opacity: 0.8;
          font-family: $ibm-font, sans-serif;
        }
      }
    }
  }

  @media screen and (max-width: $big-tablet) {
    &_content {
      padding: 52px 0;

      .title {
        font-size: $text-3xl;
      }

      .content {
        width: 100%;
        margin-bottom: 44px;
        font-size: $text-md;
      }

      .list {
        flex-direction: column;

        .item {
          &_title {
            margin-top: 24px;
            font-size: $text-lg;
          }
        }
      }
    }
  }

  @media screen and (max-width: $mobile) {
    &_container {
      padding: 40px 0;

      .title {
        color: $greyscale-600;
        font-size: $text-2xl;
      }

      .content {
        margin-bottom: 32px;
        font-size: $text-base;
        width: 100%;
      }

      .list {
        flex-direction: column;
        .item {
          &_line {
            height: 3px;
          }

          &_title {
            margin-top: 16px;
            font-size: $text-md;
          }

          &_content {
            font-size: $text-base;
          }
        }
      }
    }
  }
}
