@import "styles/variables.scss";

.section_42 {
  padding: 80px initial;

  &.background {
    background-color: $background;
  }

  &.red {
    .banner {
      &_container {
        &:after {
          background-color: $primary-500;
        }
        &:before {
          background-image: url("../../../public/images/section-42_red-pattern.svg");
        }
      }
    }
    .sublist {
      .sub_title {
        &:before {
          background-image: url("../../../public/images/section11-1.svg");
        }
      }
    }
  }

  &.green {
    .banner {
      &_container {
        &:after {
          background-color: $green-100;
        }
        &:before {
          background-image: url("../../../public/images/section-42_green-pattern.svg");
        }
        .list {
          &_item {
            &_title {
              color: $yellow-100;
            }
          }
        }
      }
    }
    .sublist {
      .sub_title {
        &:before {
          background-image: url("../../../public/images/section11-2.svg");
        }
      }
    }
  }

  &.yellow {
    .banner {
      &_container {
        &:after {
          background-color: $yellow-100;
        }
        &:before {
          background-image: url("../../../public/images/section-42_yellow-pattern.svg");
        }
        .list {
          &_item {
            &_title {
              color: $primary-500;
            }
            &_content {
              color: black;
            }
          }
        }
      }
    }
    .sublist {
      .sub_title {
        &:before {
          background-image: url("../../../public/images/section11-4.svg");
        }
      }
    }
  }

  &.blue {
    .banner {
      &_container {
        &:after {
          background-color: $secondary-500;
        }
        &:before {
          background-image: url("../../../public/images/section-42_blue-pattern.svg");
        }
        .list {
          &_item {
            &_title {
              color: $yellow-100;
            }
          }
        }
      }
    }
    .sublist {
      .sub_title {
        &:before {
          background-image: url("../../../public/images/section11-5.svg");
        }
      }
    }
  }

  .header {
    .title {
      font-size: $text-5xl;
      font-weight: $font-bold;
    }
  }

  .banner {
    margin: 30px 0 50px 0;
    display: flex;
    gap: 50px;
    position: relative;
    height: 100%;
    padding: 30px 0;

    &_container {
      position: unset;
      display: flex;
      gap: 60px;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 77%;
        z-index: 0;
        max-width: 1750px;
      }

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        height: 60%;
        width: 150px;
        z-index: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .image {
        width: 40%;
        position: relative;
        z-index: 1;
      }

      .list {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        gap: 30px 4%;
        z-index: 1;
        padding: 30px 0;
        &_item {
          width: 48%;
          &_title {
            margin-bottom: 10px;
            font-size: $text-3xl;
            font-weight: $font-bold;
            color: $blue-300;
          }

          &_content {
            color: white;
            line-height: $line-height;
            font-weight: $font-light;
          }
        }
      }
    }
  }

  .sublist {
    .sub_title {
      font-size: $text-2xl;
      font-weight: $font-bold;
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;
      &:before {
        content: "";
        height: 50px;
        width: 50px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .card_container {
      display: flex;
      flex-wrap: wrap;
      gap: 30px 2%;
      .card {
        width: 32%;
        padding-top: 10%;
      }
    }
  }

  @media screen and (max-width: $mobile) {
    .banner {
      &_container {
        flex-direction: column;
        gap: 0;

        &:after {
          width: 100%;
          height: calc(100% - 130px);
          top: unset;
          bottom: 0;
        }

        &:before {
          height: 30%;
        }

        .image {
          height: 300px;
          width: 100%;
          img {
            border-radius: $border-radius;
          }
        }

        .list {
          width: 100%;
          &_item {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            width: 100%;

            &_title {
              width: 25%;
            }

            &_content {
              width: 70%;
            }
          }
        }
      }
    }

    .sublist {
      width: 100%;
      .scroll_box {
        width: 100%;
        overflow: scroll;

        .card_container {
          width: max-content;
          display: flex;
          flex-wrap: nowrap;
          .card {
            width: 80vw;
          }
        }
      }
    }
  }
}
