@import "styles/variables.scss";

.section_10 {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #f2f5ff;

  .mobile_btn {
    display: none;
  }

  &_container {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 100px;
      .title {
        font-weight: $font-bold;
        font-size: $text-5xl;
        max-width: 800px;
      }
    }
    .body {
      display: flex;
      margin-top: 40px;
      width: 100%;
      gap: 30px;
      .image {
        position: relative;
        width: 35%;
        height: auto;
        border-radius: $border-radius;
        overflow: hidden;
      }

      .list {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        .card {
          padding: 40px 30px;
          border-radius: $border-radius;
          color: white;
          position: relative;

          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            background-size: contain;
            background-position: right;
            background-image: url("../../../public/images/section10-card-pattern.svg");
            background-repeat: no-repeat;
            height: 50%;
            width: 30%;
          }
          .title {
            color: $yellow-300;
            font-weight: $font-semi-bold;
            font-size: $text-lg;
            margin-bottom: 12px;
          }

          .content {
            font-size: $text-lg;
            font-family: $ibm-font;
            font-weight: $font-light;
            z-index: 1;
          }

          &:nth-of-type(1) {
            background-color: $secondary-500;
          }

          &:nth-of-type(2) {
            background-color: $primary-500;
          }
        }
      }
    }
  }

  @media screen and (max-width: $tablet) {
    .mobile_btn {
      display: flex;
      margin-top: 40px;
    }

    .desktop_btn {
      display: none;
    }

    &_container {
      .header {
        flex-direction: column;
        gap: 20px;
        .title {
          width: 100%;
        }
      }

      .body {
        flex-direction: column;
        .image {
          display: none;
        }

        .list {
          width: 100%;
          gap: 20px;
          .card {
            &:after {
              width: 40%;
              background-position: bottom;
            }
          }
        }
      }
    }
  }
}
