@import "styles/variables.scss";

.carousel {
  .slider {
    display: flex;
    align-items: center;
  }

  .arrow {
    display: inline;
    padding: 10px;
    border-radius: 50%;
    box-shadow: $box-shadow;
    width: fit-content;
    cursor: pointer;
    svg {
      width: fit-content;
    }
  }

  &_slick {
    &_dots {
      width: 100%;
      margin-top: 24px;
      display: flex !important;
      gap: 0 20px;
      // justify-content: center;
      align-items: center;
      justify-content: center;
      :global(.slick-active) {
        div {
          background: $primary-500;
          border-radius: 100%;
          clip-path: none;
        }
      }
    }

    &_dot {
      cursor: pointer;
      background: $greyscale-150;
      opacity: 0.8;
      width: 12px;
      height: 12px;
      clip-path: circle(50.5% at 1% 50%);
    }
  }

  @media screen and (max-width: $big-mobile) {
    .arrow {
      display: none !important;
    }
  }
}
