@use "styles/variables.scss" as *;

.breadcrumb {
  &s {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  &_item {
    display: flex;
    align-items: center;

    font-weight: $font-semi-bold;
    color: $greyscale-75;
    font-size: $text-sm;
    &[aria-current="page"] {
      color: $primary-500;
    }
  }
}

@media screen and (max-width: $small-mobile) {
  .breadcrumb {
    &_item {
      font-size: $text-xs;
    }
  }
}