//break-points
$big-desktop: 1440px;
$desktop: 1280px;
$big-tablet: 1024px;
$tablet: 900px;
$big-mobile: 768px;
$mobile: 500px;
$medium-mobile: 430px;
$small-mobile: 380px;

$desktop-header-height: 120px;
$mobile-header-height: 60px;

$content-max-width: 1440px;
$content-width: 90%;

$border-radius: 8px;
$border-radius-big: 12px;

//padding
$p-xl: 24px 51px;
$p-lg: 12px 16px;
$p-md: 10px;
$p-sm: 6px 9px;
$p-xs: 4px 8px;

//input field
$input-height: 22px;

//textarea field
$textarea-height: 100px;

$field-height-sm: 34px;
$field-height-md: 46px;
$field-height-lg: 52px;

// font-styles
$jakarta-font: Plus Jakarta Sans;
$ibm-font: IBM Plex Sans;
$dm-font: DM Sans;

//font-weight
$font-black: 900;
$font-extrabold: 800;
$font-bold: 700;
$font-semi-bold: 600;
$font-medium: 500;
$font-normal: 400;
$font-light: 300;
$font-extralight: 200;
$font-thin: 100;

//font-size ( 1rem = 16px )
$text-15xl: 5rem; // 80px
$text-14xl: 4.75rem; // 76px
$text-13xl: 4.5rem; // 72px
$text-12xl: 4.25rem; // 68px
$text-11xl: 4rem; // 64px
$text-10xl: 3.75rem; // 60px
$text-9xl: 3.5rem; // 56px
$text-8xl: 3.25rem; // 52px
$text-7xl: 3rem; // 48px
$text-6xxl: 2.875rem; //46px
$text-6xl: 2.75rem; // 44px
$text-5xl: 2.5rem; // 40px
$text-4xl: 2.25rem; // 36px
$text-3xl: 2rem; // 32px
$text-2xl: 1.75rem; // 28px
$text-xl: 1.5rem; // 24px
$text-lg: 1.25rem; // 20px
$text-md: 1.125rem; // 18px
$text-base: 1rem; // 16px
$text-sm: 0.875rem; // 14px
$text-2xm: 0.8125rem; //13px
$text-xs: 0.75rem; // 12px
$text-ls: 0.5rem; //10px

//line-height
$input-line-height: 1;
$line-height: 1.5;

//box-shadow
$box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);

///background-color
$background: #f5f6fc;

///colors
$greyscale-0: #ffffff;
$greyscale-10: #2f2a2a;
$greyscale-25: #625e5e;
$greyscale-50: #f5f5f5;
$greyscale-75: #0a0a0a;
$greyscale-100: #e2e4e9;
$greyscale-150: #c8cfef;
$greyscale-200: #c6c8d2;
$greyscale-300: #a4a8b7;
$greyscale-400: #7f859f;
$greyscale-500: #3c4467;
$greyscale-600: #2d334d;
$greyscale-700: #131620;

$primary-50: #fce9eb;
$primary-100: #f7d3d6;
$primary-200: #efa6ae;
$primary-300: #e77a85;
$primary-400: #df4d5d;
$primary-500: #d72134;
$primary-550: #a32035;
$primary-600: #a11927;
$primary-650: #b50315;
$primary-700: #6c111a;
$primary-700: #6c111a;
$primary-800: #36080d;
$primary-900: #160305;

$secondary-0: #f4f4f4;
$secondary-50: #e9e9ee;
$secondary-100: #d2d3dc;
$secondary-150: #e7eaf8;
$secondary-200: #a5a7b9;
$secondary-250: #f2f5ff;
$secondary-300: #797a97;
$secondary-350: #393d84;
$secondary-400: #4c4e74;
$secondary-500: #1f2251;
$secondary-600: #171a3d;
$secondary-700: #101129;
$secondary-bg-300: #282B69;

$yellow-100: #febd25;
$yellow-200: #fece6f;
$yellow-300: #ffe2a9;
$yellow-400: #f0a800;
$yellow-500: #faa838;

$blue-100: #00b7f1;
$blue-200: #47c9f5;
$blue-300: #a0ddf9;
$blue-400: #22353f;

$orange-100: #f57b20;
$orange-200: #f89f5d;
$orange-300: #fcc69a;

$navy-100: #006eb8;
$navy-200: #5e8cc9;
$navy-300: #9db4dd;

$pink-100: #f595ab;
$pink-200: #f8b3c2;
$pink-300: #fad3db;

$green-100: #00a77c;
$green-200: #2abb9e;
$green-300: #98d4c3;
$green-400: #0e2400;

$dark-0: #000;
$dark-50: #171414;
$dark-100: #121111;
$dark-bg: #2E2E2E;